@external .form_root_container, form_section, job_choose_field, name_field, send-button, error_message;

body {
    background-color: #eff3f6;
}

.form_root_container {
    background-color: #fff;
    width: 260px;
    height: 260px;
    top: 100px;
    margin: 0 auto;
    font-family: 'Arial Regular', 'Arial', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333;
    text-align: center;
    line-height: normal;
}

*:focus {
    outline: none;
}

.form_section {
    min-height: 36px;
}

.form_section > span {
    display: inline-block;
    float: left;
    margin-left: 8px;
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 14px;
}

.form_section > .name_field,
.job_choose_field {
    margin: 0 auto;
    border: 2px solid #eff3f6;
}

#form_agreement_section > input {
    display: block;
    float: left;
    margin-left: 14px;
    margin-top: 14px;
}

.error_message {
    display: inline-block;
    margin-top: 8px;
    color: #fff;
    background-color: #FF2E3A;
    width: 80%;
    margin: 0 auto;
}

.send-button {
    background-color: #00AFD6;
    border: none;
    color: white;
    width: 80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    min-height: 32px;
    padding-left: 20px;
}

.send-button:hover {
    background-color: #009BBE;
}